#dropdowns {
	display: flex;
	flex-direction: row;
	width: 100vw;
	justify-content: center;
}

.dropdown {
	width: 25vw;
}

#artist_info {
	text-align: center;
}

#header {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#totals {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.totals {
	padding: 2vw;
}
