#header {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#title {
	padding: 2vw;
}
#totals {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: #233d4d;
	color: aliceblue;
}
.totals {
	padding: 2vw;
}

#dropdowns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 2vw;
	background-color: #fe7f2d;
}

.dropdown {
	width: 25vw;
}

#artist_info {
	text-align: center;
	background-color: #fcca46;
	padding: 1vw;
	/* background-color: #233d4d; */
}

#demo_figure {
	background-color: #a1c181;
}
